<div class="container-fluid">
  <!-- Content here -->
  <app-search-wallpaper (searchTerm)="tags.add($event)"></app-search-wallpaper>
  <div class="row">
    <div class="col-md-9">
      <div class="row gutter-right">
        <div class="col-md-12">
          <app-search-tags #tags></app-search-tags>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 gutter-right">
          <mat-card></mat-card>
        </div>
        <div class="col-md-9">
          <app-trend-video videoSrc="https://www.youtube.com/embed/OvZl6kpe-Iw"></app-trend-video>
          <!-- <app-trend-photo imageSrc="https://i.ebayimg.com/images/g/wUAAAOSw~xlaoIGA/s-l640.jpg"></app-trend-photo> -->
          <!-- <app-trend-video videoSrc="https://www.dailymotion.com/embed/video/x6pkg8n"></app-trend-video> -->
          <!-- <app-trend-video videoSrc="https://player.vimeo.com/video/280268515"></app-trend-video> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 gutter-left">
      <mat-card></mat-card>
    </div>
  </div>
</div>